<!DOCTYPE html>
<html lang="en">
    
        <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <title>Mighty Ducks Hockey League</title>
            <!-- Favicon -->
            <link rel="icon" href="../assets/logo/SoloLogoMightyDucks-01-Favicon.ico" type="image/x-icon">
            <!-- CSS externo -->
            <link rel="stylesheet" href="../stylesUser.css">
            <!-- <link rel="stylesheet" href="./stylesMy.css"> -->
        </head>
<body>
    <!-- Encabezado de la página -->
    <header>
        <!-- Logo -->
        <figure>
            <img src="../assets/logo/logoMightyDucks-01.png" alt="Mighty Ducks Hockey League logo" class="logo">
        </figure>
        <!-- Barra de navegación -->
        <nav>
            <ul class="menu">
                <!-- Enlaces de navegación -->
                <li><a href="../index.html">Home</a></li>
                <li><a href="#">About MDHL</a></li>
           
                
                <li><a href="./contact.html">Contact</a></li>
            </ul>
        </nav>
    </header>
    <!-- Contenido principal -->
    <main>
        
        <!-- Sección "About MDHL" -->
        <section id="about" class="section">
            <header>
                <h2>About MDHL</h2>
            </header>
            <article>
                <p>The Mighty Ducks Soccer League was established in 1996 to provide athletes residing Chicago's northside neighborhoods an environment in which to learn and play hockey. To be a member of MDHL, you must be between the ages of 4 - 12 and reside a Chicago northside neighborhood. MDHL is ran by a small full-time staff, and relies on the generous volunteer time of parents and previous league members.</p>
            </article>
        </section>
        
    </main>
</body>
</html>
