<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mighty Ducks Hockey League</title>
    <!-- Favicon -->
    <link rel="icon" href="../assets/logo/SoloLogoMightyDucks-01-Favicon.ico" type="image/x-icon">
    <!-- CSS externo -->
    <link rel="stylesheet" href="../stylesUser.css">
    <!-- <link rel="stylesheet" href="./stylesMy.css"> -->
</head>
<body>
    <!-- Encabezado de la página -->
    <header>
        <!-- Logo -->
        <figure>
            <img src="../assets/logo/logoMightyDucks-01.png" alt="Mighty Ducks Hockey League logo" class="logo">
        </figure>
        <!-- Barra de navegación -->
        <nav>
            <ul class="menu">
                <!-- Enlaces de navegación -->
                <li><a href="../index.html">Home</a></li>
                <li><a href="./about.html">About MDHL</a></li>
           
                
                <li><a href="#">Contact</a></li>
            </ul>
        </nav>
    </header>
    <!-- Contenido principal -->
    <main>
       
        
        <!-- Sección de contacto -->
        <section id="contact" class="section">
           
            
        
        <header>
            <h2>Contact</h2>
        </header>
        <img src="../assets/aboutMdhl/hockey_3.jpg" width="300" alt="Image 3">
          <article>
        <p>
            Please email us at <a href="mailto:mdhl@chihockey.org">mdhl@chihockey.org</a>.
            <br>
            We reply to your email as soon as we can.
        </p>
    </article>
</section>
    </main>
    <!-- Pie de página -->
    <footer>
        <p>&copy; 2024 Mighty Ducks Hockey League. All rights reserved.</p>
    </footer>
</body>
</html>
